<%= stylesheet_link_tag "home" %>

<%# <%= link_to login_path do %> 
  <div class="cart" style="background-color: <%= acc_data[:background] %>;">
    <%= image_tag acc_data[:image_path], alt: "Image" %>
    <h3><%= acc_data[:title] %></h3>
  </div>
<%# <% end %> 
