
<h1 class="cart-head">Orders for Your Products</h1>

<% if @orders.present? %>
<table id="customers">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>User Mobile</th>
      <th>Shipping Address</th>
      <th>Order Items</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.mobile %></td>
        <td><%= order.address %></td>
        <td>
          <ul>
            <% order.order_items.each do |item| %>
              <li>
                <%= item.product.product_name %> - Quantity: <%= item.quantity %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No orders found.</p>
<% end %>


