
<h1 class="cart-head">Your Listed Products</h1>
<table id="customers">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Product Quantity</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.product_name %></td>
        <td><%= number_to_currency(product.price, unit: '₹', precision: 2) %></td>
        <td><%= product.quantity %></td>
        <td><%= product.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

