<%= stylesheet_link_tag "cart" %>

<style>
.quantity-wrapper {
  display: flex;
  justify-content:center;
}

.cart-input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 5px;
  appearance: none;
}

.quantity-wrapper button {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
}

.quantity-wrapper button:active {
  background-color: #e0e0e0;
}

</style>

<h1 class="cart-head">Shopping Cart</h1>
<div class="shope-cart">

<% if @cart_items.any? %>
<div>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td class="cart-product"> <div><%= image_tag cart_item.product.product_image ,class:"cart-image" %></div> <div class="cart-product-name">  <%= cart_item.product.product_name%> </div> </td>
          <td>
            <%= form_tag update_quantity_path(cart_item), method: :patch do %>
              <div class="quantity-wrapper">
               <button type="button" onclick="decrement()" class="decrement">-</button>
              <%= number_field_tag 'quantity', cart_item.quantity, min: 1 ,class:"cart-input",onchange: "this.form.submit()" %>
                  <button type="button" onclick="increment()" class="increment">+</button>
              </div>
            <% end %>
          </td>
          <td><%= number_to_currency(cart_item.product.price, unit: '₹', precision: 2) %></td>
          <td><%= number_to_currency(cart_item.product.price * cart_item.quantity , unit: '₹', precision: 2) %></td>
          <td >
            <%= link_to 'Remove', remove_from_cart_path(cart_item),class:"cart-remove", method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3"><strong>Total:</strong></td>
        <td colspan="2"><%= number_to_currency(@cart_items.sum { |item| item.product.price * item.quantity } , unit: '₹', precision: 2) %>
        </td>
      </tr>
    </tfoot>
  </table>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
</div>
</div>
<div class="checkout">
<%= form_for @order, url: checkout_path do |f| %>
  <div class="cart-field">
    <%= f.text_area :address ,placeholder:"Address",class:"cart-address input", required: true %>
  </div>
  <%= f.submit 'Checkout', class: 'checkout-btn' %>
<% end %>
</div>
<script>


    const input = document.querySelector('.cart-input');

    function increment(){
      input.value = parseInt(input.value) + 1;
      input.dispatchEvent(new Event('change'));
    }

    function decrement(){
      if (input.value > 1) {
        input.value = parseInt(input.value) - 1;
        input.dispatchEvent(new Event('change'));
      }
    }


</script>