<div class="question" id="live_feed_<%= live_feed.id %>">
  <div class="profile-info-post">
    <div>
      <% if live_feed.user.profile_image&.image&.attached? %>
        <%= image_tag(live_feed.user.profile_image.image, class: "pro_image p-i") %>
      <% else %>
        <%= image_tag "user.png", class: "pro_image" %>
      <% end %>
    </div>
    <div class="post-user-info">
      <p><%= live_feed.user.username %> </p>|
      <p><%= live_feed.user.account_type %> </p>
    </div>
  </div>
  <p class='q-body'><%= live_feed.question_body %></p>
  <% if live_feed.post_image.attached? %>
    <%= image_tag(live_feed.post_image, class: "post-file") %>
  <% end %>

  <p class="time"><%= live_feed.created_at.strftime('%d %b') %></p>
  <br>
  <div class="like-ans">
    <div class="like-feature">
    <span class="likes-count"><%= live_feed.get_upvotes.size %></span>
    <%= link_to likes_live_feed_path(live_feed) do %>
      <i class="fa fa-heart" id="like-btn-<%= live_feed.id %>"></i>
    <% end %>
  </div>
    <%= link_to live_feed, class: 'link' do %>
      <p style="margin-top:18px;"><%= live_feed.answers.count %> Answers</p>
    <% end %>
  </div>
</div>

<% if current_user.liked?(live_feed) %>
  <script>
    document.getElementById('like-btn-<%= live_feed.id %>').style.color = "red";
  </script>
<% end %>
