<%= link_to live_feed, class: 'link' do %>
  <div class="question" id="live_feed_<%= live_feed.id %>">
    <p class='q-title'><%= live_feed.title %></p>
    <p class='q-body'><%= live_feed.question_body %></p>
    <p class="time"><%= live_feed.created_at.strftime('%d %b') %></p>
  </div>
<% end %>
