<%
=begin%>
 <p style="color: green;position:absolute"><%= notice %></p> 
<%
=end%>



<%= stylesheet_link_tag "live_feed" %>

<body style="overflow: hidden;">
<div class="feed-container" >
<div id="live_feeds">
  <%= render @live_feeds %>
</div>
<div id="weather">
 <%= render "weather_forcast", weather: @weather %>  
</div>
</div>
<div class="ask_question">
<%= render "form", live_feed: @live_feed %>
</div>
</body>
