 
<style>
.pro_image{
  margin-top:10px;
  width:40px;
  height:40px
}
.profile-info-post{
  display:flex;
  gap:10px;
}
.post-user-info{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5px;
}
.post-file{
  width:98%;
  height:45rem;
  padding-bottom:20px;
}
.like{
  position:absolute;
  bottom:10px;
  left:20px;
  background-color:transperent;
}
.question{
      position: relative;
    background-color: #1679AB;
    width: 90vw;
    min-height: 2rem;
    height: auto;
    border-radius: 5px;
    padding-left: 20px;
    text-decoration: none;
    border: 1px solid;
    color: #f7f5f5;
  max-height:80rem;
}
</style>
 
 
  <%= link_to "Back", live_feeds_path , class:"to-feed" %>

<div class="question-answer">
<p style="color: green" class="toast"><%= notice %></p>

   <div class="question">
<%if current_user.id == @live_feed.asked_by%>
   <div class="option">
  <%= link_to image_tag('edit.png',class:"edit"), edit_live_feed_path(@live_feed) %> |
  <%= button_to image_tag('delete.png',class:"edit"), @live_feed,method: :delete %>
</div>
  <%end%>
  <div class="profile-info-post">
  <div>
  <% if @live_feed.user.profile_image&.image&.attached? %>
       <%= image_tag(@live_feed.user.profile_image.image, class:"pro_image p-i")%>
  <% else%>
       <%= image_tag "user.png" , class:"pro_image"%>
    <% end %>
       </div>
       <div class="post-user-info" >
       <p><%= @live_feed.user.username%> </p>|
       <p><%= @live_feed.user.account_type%> </p>
       </div>
       </div>
           <p class='q-body'><%= @live_feed.question_body %></p>
           <% if @live_feed.post_image.attached? %>
  <%= image_tag(@live_feed.post_image, class:"post-file") %>
<% end %>
   <p class="time"> <%= @live_feed.created_at.strftime('%d %b') %></p>
    </div>


 <div class="ans">
<% @live_feed.answers.each do |ans| %>
<div class="question">
  <p class="q-body">
    <%= ans.answer_body %>
  </p>

    <p class="ans-by"> Answered by
    <strong>
    <%= ans.asked_by %>
    </strong>
    on 
    <strong><%= ans.created_at.strftime("%d %b")%></strong>
  </p>
  <%= link_to "edit", edit_live_feed_answer_path(@live_feed,ans) %>
  </div>
<% end %>
</div>




<%= form_with(model: [@live_feed, @answer]) do |form| %>
<div class="ans-que">
  <p>
    <%= form.text_area :answer_body ,placeholder: "Answer the Question",class:"question-body input" %>
  </p>
  <p>
    <%= form.submit "Answer", class:"answer-q" %>
  </p>
 </div>

<% end %>

</div>
