
<style>
.checked {
  color: orange;
}
.rate{
    cursor:pointer;
}
.rating-star{
    position:absolute;
    top:33rem;
    left:58.5rem;
}
.comm{
    display:flex;
    justify-content:center;
    position:relative;
}
.com-btn{
    background-color:black;
    color:white;
    border-radius:10px;
    padding:10px;
    position:absolute;
    margin-left:10px;
    top:20px;
}
.com-input{
    width:30rem;
}
.avg-rating{
    position:absolute;
    top:31.7rem;
    left:65.5rem;

}
</style>


<div class="rating-star">
<span class="fa fa-star rate"></span>
<span class="fa fa-star rate"></span>
<span class="fa fa-star rate"></span>
<span class="fa fa-star rate"></span>
<span class="fa fa-star rate"></span>
</div>
<div class="avg-rating">
<h3><%= @average_rating %>/5.0</h3>
</div>


<div class="comm">
<%= form_with(model: [@product, @reviews], url: review_product_path(@product), local: true) do |form| %>
  <%= form.hidden_field :rating, value: 0, id: 'rating-value' %>
  <%= form.text_area :comment, placeholder: "Comment", class: "question-body input com-input" %>
  <%= form.submit 'Submit Rating',class:"com-btn" %>
<% end %>
</div>

<script>
    const stars = document.querySelectorAll('.fa-star');
    
    stars.forEach((star, index) => {
        star.addEventListener('click', () => {
            stars.forEach(s => s.classList.remove('checked'));
            
            for (let i = 0; i <= index; i++) {
                stars[i].classList.add('checked');
            }
    const checkedStars = document.querySelectorAll('.checked').length;
    document.getElementById("rating-value").value= checkedStars;
        });
    });

</script>