

<div class="profile-page">
<div class="edit-profile">

</div>
<div class="profile-data">
<%= link_to edit_user_registration_path do %>
<%= image_tag("edit.png",class:"edit-p") %>
<%end%>
<div class="profile-image">
<% if @user.profile_image&.image&.attached? %>
  <%= image_tag @user.profile_image.image, class: 'product_image' %>
<% else %>
<% if @user.account_type == 'farmer'%>
  <%= image_tag("farmer.png", class: 'product_image') %>
  <% end %>
<% if @user.account_type == 'student'%>
  <%= image_tag("Student.png", class: 'product_image') %>
  <% end %>
<% if @user.account_type == 'seller'%>
  <%= image_tag("seller.png", class: 'product_image') %>
  <% end %>
<% end %>
</div>
<div class="update-profile">
<%= form_with(model: @profile_image, url: profile_update_path, local: true, html: { multipart: true }) do |form| %>
  <div class="field">
    <%= form.file_field :image, class:"input i-f"%>
  </div>
  
  <div class="actions">
    <%= form.submit "Add Profile Image" %>
  </div>
<% end %>
</div>
<div class="profile-info">
<h3>Username</h3>
<p><%= @user.username%></p>
<h3>Email address</h3>
<p><%= @user.email%></p>

<h3>Phone Number</h3>
<p><%= @user.mobile%></p>

<h3>Account Type</h3>
<p><%= @user.account_type%></p>

</div>

</div>
</div>

