<!DOCTYPE html>
<html>
  <head>
    <title>AgriLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%
=begin%>
 <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
<%
=end%>
    <%= stylesheet_link_tag 'application', media: 'all' %>



    <%
=begin%>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>    
<%
=end%>



    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%if user_signed_in?%>
  <nav class="nav">
    <%= image_tag("Logo.png", alt: "logo",class:"logo") %>

   <button class="menu" id="menu-btn" ><%= image_tag("more.png", alt: "hamburger-menu",class:"ham") %></button> 


<div class="nav-cont">
<%= link_to 'Home', main_app.root_path, class: "nav-item #{'active' if current_page?(main_app.root_path)}" %>

  <% if current_user.account_type=="student"%>
  <%= link_to "Learning", main_app.learning_index_path ,class: "nav-item #{'active' if current_page?(main_app.learning_index_path)}" %>
  <%end%>
  <% if current_user.account_type!="student"%>
  <%= link_to 'Dashboard', main_app.seller_dashboard_index_path ,class: "nav-item #{'active' if current_page?(main_app.seller_dashboard_index_path)}"%>
  <%end%>
  <% if current_user.account_type!="seller"%>
  <%= link_to "Questions", main_app.my_questions_question_path ,class: "nav-item #{'active' if current_page?(main_app.my_questions_question_path)}"%>
  <%end%>
  <%= link_to 'Shop', main_app.products_path ,class: "nav-item #{'active' if current_page?(main_app.products_path)}"%>
  <%= link_to 'Feed', main_app.live_feeds_path ,class: "nav-item #{'active' if current_page?(main_app.live_feeds_path)}"%>
  <%= link_to "Notifications:#{Notification.unread_count(current_user)}", notifications_path ,class: "nav-item #{'active' if current_page?(notifications_path)}" %>

<div class="mobile-container" id="menu" style="display:none;" >
<div class="mobile-nav">
<%= link_to 'Home', main_app.root_path, class: "mobile-nav-item #{'active' if current_page?(main_app.root_path)}" %>

  <% if current_user.account_type=="student"%>
  <%= link_to 'Learning', main_app.learning_index_path ,class: "mobile-nav-item #{'active' if current_page?(main_app.learning_index_path)}" %>
  <%end%>
  <% if current_user.account_type!="student"%>
  <%= link_to 'Dashboard', main_app.seller_dashboard_index_path ,class: "mobile-nav-item #{'active' if current_page?(main_app.seller_dashboard_index_path)}"%>
  <%end%>
  <% if current_user.account_type!="seller"%>
  <%= link_to 'Questions', main_app.my_questions_question_path ,class: "mobile-nav-item #{'active' if current_page?(main_app.my_questions_question_path)}"%>
  <%end%>
  <%= link_to 'Shop', main_app.products_path ,class: "mobile-nav-item #{'active' if current_page?(main_app.products_path)}"%>
  <%= link_to 'Feed',  main_app.live_feeds_path ,class: "mobile-nav-item #{'active' if current_page?(main_app.live_feeds_path)}"%>
  <%= link_to pluralize(Notification.unread_count(current_user) , 'Notification'), notifications_path ,class: "mobile-nav-item #{'active' if current_page?(notifications_path)}" %>
  
</div>
</div>


</div>
    <div class="sub-nav">
<span class="cart-count nav-item" style="right: <%= current_user.account_type == 'seller' ? '15rem' : '11.5rem' %>;">
  <%= @cart_count %>
</span>
  <%= link_to image_tag("shopping-cart.png",class:"nav-cart"), main_app.carts_path ,class: "nav-item" %>
    <% if current_user.account_type == "student" %>
    <%= image_tag("Student.png", alt: "profile icon",class:"profile") %>
    <%end%>

    <% if current_user.account_type == "farmer" %>
    <%= image_tag("farmer.png", alt: "profile icon",class:"profile") %>
    <%end%>

    <% if current_user.account_type == "seller" %>
    <%= image_tag("seller.png", alt: "profile icon",class:"profile") %>
    <%end%>
    <%= button_to "Logout", main_app.destroy_user_session_path,class:"button", method: :delete %>
    </div>
  </nav>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>


  <script>

document.getElementById("menu-btn").addEventListener("click",menuFunction);

  function menuFunction(){
    let display = document.getElementById("menu").style.display
    display=="none"?document.getElementById("menu").style.display= 'block':document.getElementById("menu").style.display="none";
  }
  </script>
</html>
